### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [8]:
purchase_data = pd.DataFrame(purchase_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
player_demography = purchase_data.iloc[:, [ 1, 2, 3]]
player_demography = player_demography.drop_duplicates()
player_demography.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

## Player Count

* Display the total number of players

In [10]:
players_count = player_demography.count()[0]
pd.DataFrame({"Total Players": [players_count]})

   Total Players
0            576

In [11]:
#Run basic calculations to obtain number of unique items, average price, etc.
#Number of Unique Items
item_count = len(purchase_data["Item ID"].unique())
# Average Purchase Price
avg_price = purchase_data["Price"].mean()

#Total Number of Purchases
purchase_count = purchase_data["Price"].count()

#Total Revenue
total_revenue = purchase_data["Price"].sum()

#Create a summary data frame to hold the results
summary_data= pd.DataFrame({"Number of Unique Items": item_count,
                              "Total Revenue": [total_revenue],
                              "Number of Purchases": [purchase_count],
                              "Average Price": [avg_price]})
summary_data

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     179        2379.77                  780       3.050987

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
 
summary_data = summary_data.round(2)
summary_data ["Average Price"] = summary_data["Average Price"].map("${:,.2f}".format)
summary_data ["Number of Purchases"] = summary_data["Number of Purchases"].map("{:,}".format)
summary_data ["Total Revenue"] = summary_data["Total Revenue"].map("${:,.2f}".format)
summary_data = summary_data.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
 
 
summary_data

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

In [13]:
 
gender_demography_total = player_demography["Gender"].value_counts()
gender_demography_percentage = gender_demography_total / players_count * 100
gender_demography_percentage

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

## Gender Demographics

In [14]:
gender_demography_total = player_demography["Gender"].value_counts()
gender_demography_percentage = gender_demography_total / players_count * 100

gender_demography_percentage = gender_demography_percentage.round(2)
gender_demography_percentage

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_avg = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_purch_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")

# Calculate Normalized Purchasing (Average Total Purchase per Person)
normalized_purchasing_total = gender_purch_total / gender_demography_percentage["Total Count"]
normalized_purchasing_total

KeyError: 'Total Count'

In [16]:
# Convert to DataFrame
gender_table = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_avg, "Total Purchase Value": gender_purch_total, "Normalized Totals": normalized_purchasing_total})

# Minor Data Munging
gender_table["Average Purchase Price"] = gender_table["Average Purchase Price"].map("${:,.2f}".format)
gender_table["Total Purchase Value"] = gender_table["Total Purchase Value"].map("${:,.2f}".format)
gender_table["Purchase Count"] = gender_table["Purchase Count"].map("{:,}".format)
gender_table["Average Total Purchase Value"] = gender_table["Normalized Totals"].map("${:,.2f}".format)
gender_table = gender_table.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase Value"]]

# Display the Gender Table
gender_table

NameError: name 'normalized_purchasing_total' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
# Establish the bins 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
player_demography["Age Ranges"] = pd.cut(player_demography["Age"], age_bins, labels=group_names)

# Calculate the Numbers and Percentages by Age Group
age_demography_totals = player_demography["Age Ranges"].value_counts()
age_demography_percentage = age_demography_totals / players_count * 100
age_demography = pd.DataFrame({"Total Count": age_demography_totals, "Percentage of Players": age_demography_percentage})

# Minor Data Munging
age_demographiy = age_demography.round(2)

# Display Age Demographics Table
age_demography.sort_index()

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# Bin the Purchasing Data
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

# Run basic calculations
age_purch_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_avg = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Calculate Normalized Purchasing (Average Purchase Total per Person)
normalized_total = age_purch_total / age_demography["Total Count"]

# Convert to DataFrame
age = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_avg, "Total Purchase Value": age_purch_total, "Normalized Totals": normalized_total})

# Minor Data Munging
age["Average Purchase Price"] = age["Average Purchase Price"].map("${:,.2f}".format)
age["Total Purchase Value"] = age["Total Purchase Value"].map("${:,.2f}".format)
age ["Purchase Count"] = age["Purchase Count"].map("{:,}".format)
age["Avg Total Purchase per Person"] = age["Normalized Totals"].map("${:,.2f}".format)
age = age.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

# Display the Age Table
age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80